@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat';
    background: #EEEEEE;
    font-size: 18px;
    height: 100vh;
}


.container{

    .top {
        background: #0A0A0A;
        height: 40px;
        display: grid;
        grid-template-columns: 50% auto;

        .topLeft{
            button{
                width: 150px;
                margin: 10px;
                background: #0A0A0A;
                color: white;
                border: none;
                cursor: pointer;
            }
        }
        .topRight{
            button{
                width: 150px;
                margin: 10px;
                background: #0A0A0A;
                color: white;
                border: none;
                cursor: pointer;
                float : right;
            }
        }
    }

    .bannerBar{
        display: grid;
        grid-template-columns: 40% 40% auto;
        .bannerLeft{
            position: relative;
            min-height: 40px;
            .logo {
                position: absolute;
                width: 144px;
                bottom: 0;
                left: 0;
            }         
        }
        .bannerMiddle{
           float: center;
           margin: 50px;
        }
        .bannerRight{
            float: right;
            position: relative;
            min-height: 40px;
            .community {
                position: absolute;
                bottom: 0;
            }
        }
    }
        
    .topicNavBar{
        background-color: #414040; 
    }

    .typeNavBar{
        background-color: #D3D3D3D3; 
    }

    .body {
        float: left;
        
        .filter {
            float: left;
            padding: 0px 14px;
        }
        .content {
            float: right;
            background-color: white;
            .contentLeft {

                display: grid;
                grid-template-columns: 80% 40%;
            }
        }
    }
    
    height{
        margin: 1em 0;
    }

  

    p {
        line-height: 1.7rem;
    }
}

h1 {
    font-family: 'Montserrat';
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 18px;
  }
  
  h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }

nav {
    width: 100%;
    height: 30px;
    background-color: #D3D3D3;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    color: #222;
    font-size: 14px;
    float: left;
    padding: 0px 14px;
    text-decoration: none;
    background-color: none; 
    
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #dbdbdb;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li  {
    width: 100px;
}

nav ul li ul li a {
    padding: 10px 10px;
}

nav ul li ul li a:hover {
    background-color: #D3D3D3;
}

.nav-btn-group button {
    background-color: #414040; 
    max-width: 30%;
    border: 0px solid rgb(216, 216, 216); 
    color: white; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
    
  }

  .nav-btn-group button:not(:last-child) {
    border-right: none; 
  }

  .nav-btn-group:after {
    content: "";
    clear: both;
    display: table;
  }

.filter{  
a {
    background: #EEEEEE;
    cursor: pointer;
    border-top: solid 1px #C4C4C4;
    border-left: solid 1px #C4C4C4;
    border-bottom: solid 1px #C4C4C4;
    border-right: solid 1px #C4C4C4;
    color: #848484;
    padding: 5px 5px;
  }
  
  a.down {
    background: #EEEEEE;
    border-top: solid 1px #672B2B;
    border-left: solid 1px #672B2B;
    border-bottom: solid 1px #672B2B;
    border-right: solid 1px #672B2B;
    color: #672B2B;
  }
  
}
